
* {
  scroll-behavior: smooth;
}

// 左下 Link 链接左对齐显示
.links-of-blogroll-list {
  padding-left: 20px
}

.links-of-blogroll-item {
  text-align: left;
}

.post-body {
  img {
    margin-top: 1rem;
    box-shadow: 0 1px 10px 0 rgba(0 0 0  0.4);
  }

  p, li, h1, h2, h3, h4, h5, h6 {
    code {
      padding: 5px 4px;
      margin: 0 4px;
      background: #9da59557;
      color: rgba(40, 44, 52, 78%);
    }
  }

  a {
    text-decoration: underline;
    margin: 0 0.6rem;

    &:hover {
      border-bottom-color: #af3a03;
      color: #af3a03;
    }
  }

  .headerlink {
    text-decoration: none;
  }
}

// code代码块主色白色改暗色
code, kbd, figure.highlight, pre {
  color: rgba(242, 229, 188, 60%);
}


