
// 左下 Link 链接左对齐显示
.links-of-blogroll-list {
  padding-left: 20px
}

.links-of-blogroll-item {
  text-align: left;
}

.post-body {
  img {
    margin: 0;
    box-shadow: 0 1px 10px 0 rgba(0 0 0  0.4);
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
  }

  p, li, h1, h2, h3, h4, h5, h6 {
    code {
      padding: 5px 4px;
      margin: 0 4px;
      background: #9da59557;
      color: rgba(40, 44, 52, 78%);
    }
  }

  a {
    text-decoration: underline;
    // margin: 0 0.6rem;

    &:hover {
      border-bottom-color: #af3a03;
      color: #af3a03;
    }
  }
}

// code代码块主色白色改暗色
code, kbd, figure.highlight, pre {
  color: rgba(242, 229, 188, 60%);
}

// diff代码颜色，```diff - xxx + xxx```
.hljs-deletion {
    color: #f50532;
}
.hljs-addition {
  color: #b4eb72;
}

// 修改 > 引用风格，改为逗号
blockquote {
  position: relative;
  padding: 0 1rem 0 3.125rem;
  border: none;
  line-height: 29px;
  font-family: "IBM Plex Sans",sans-serif;
  font-style: italic;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 25px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAAgCAQAAAAV6oiUAAABYElEQVRIx7WVPU7DQBCFH5uENBFCFDQIAsEJiJYTcAO4QS7JDbgBRQDbkYgCNDSRDOInCVSwazTPnlmU2XL8+WnevLUBuSb4IicBq2vKnMpAB0sCvKNBRBp4ozIdJyJ9rJGXpViQThdt0pmikGWOqTF3tFPJyDJHFLmhnUpGlhlQ5JZ2VMw5Xd8lxc8oc/X3Ufe7dLtNBuZHpkeRlHYMTP00o4hpRkwmiZjGzKxjQZY5A6+CMJ9oycAJzUz5XATMjpIZetN60FWuCoDAuJpllmusCoDAuJplhvWEQhWAsF7x4GUOzbMYGYtpufLWCIwD0MKeCskipsm8zD6aZtO2sWE1rR8RZyPjDDcgi7g1gWkDFTDDs+onFtYc915mdXGeYO5lkoicGRmHJg5WfWsAh1322a4wbQubNsapo5lGxDn1MokSGZs3U5pGl5kPTM05izAtx9Js2iNerNP84ycAAN906c65Frn+7QAAAABJRU5ErkJggg==') 0 0 no-repeat;
    background-size: 100% auto;
    opacity: .15;
  }
}





