.links-of-blogroll {
  // 我的修改 ---- 左边个人信息区域字体大小
  font-size: $font-size-medium;
  // font-size: $font-size-smaller;
}

.links-of-blogroll-title {
  // 我的修改 ---- 左边个人信息区域字体大小
  font-size: $font-size-large;
  // font-size: $font-size-smaller;
  
  font-weight: 600;
  margin-top: 0;
}

.links-of-blogroll-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
